*{
    padding:0px;
    margin:0px;
}
header{
    height: 100vh;
}
.profilna{
    background:url(../img/register1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
}
.profilna h2{
    color:#fff;
    font-size:4em;
    margin-top:45%;
}
.zaManjeEkrane{
    display: none;
}
@media screen and (max-width: 1024px) {
    .zaManjeEkrane{
        display: block;
        color:#fff;
    }
    /* .zaVeceEkrane{
        display: none;
    } */
}
  @media screen and (max-width: 400px) {
      header{
        background:url(../img/register1.jpg);
    }
    .profilna{
        height: inherit;
        background:none;
    }
    .naslov{
          font-size:2em;
      }
    .profilna h2{
        color:#fff;
        font-size:2.2em;
        margin-top:15%;
    }
    
  }